.app-bg {
  background-color: $white;
}

.font-cabinet-grotesk {
  font-family: 'Cabinet Grotesk', sans-serif;
}
.font-switzer {
  font-family: 'Switzer', sans-serif;
}
.font-public-sans {
  font-family: 'Public Sans', sans-serif;
}
