@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=switzer&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=public-sans&display=swap');

// fonts
$cabinet-grotesk: 'Cabinet Grotesk', sans-serif;
$switzer: 'Switzer', sans-serif;
$public-sans: 'Public Sans', sans-serif;

// color
$white: #ffffff;
$green: green;

// background
